.fieldCard {
  box-shadow: 0px 4px 8px rgba(217, 220, 231, 0.58);
  border-radius: 10px;
  background: #fff;
  transition: 0.2s;
  &:hover {
    box-shadow: 4px 8px 12px rgba(217, 220, 231, 0.58);
    transform: translate(-1px, -1px);
  }
}
.top {
  padding: 13px 21px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  background: none;
  border: none;
  border-bottom: 1px solid #f0f3ee;
  width: 100%;
  text-align: left;
  h4 {
    font-weight: 500;
    font-size: 16px;
    color: #193550;
  }
  h5 {
    font-size: 14px;
    color: #78828c;
  }
  button {
    margin-left: 27px;
    border: none;
    background: none;
    padding: 0;
  }
  img {
  }
}
.item {
  margin: 12px 21px;
  display: flex;
  justify-content: space-between;
}
.middle {
  h4,
  h5 {
    font-size: 14px;
    color: #78828c;
  }
}
.showMore {
  padding: 21px 21px 4px;
  button {
    font-weight: 400;
    font-size: 14px;
    color: #78828c;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 6px;
    border: 1px solid #f0f3ee;
    border-width: 1px 0;
    position: relative;
    span {
      font-weight: 400;
      font-size: 14px;
      color: #f0b734;
    }
    &:after {
      content: url(/images/down-arrow-outline-green.svg);
      position: absolute;
      right: 6px;
    }
  }
}
.bottom {
  padding: 13px 21px;
  h4 {
    font-weight: 600;
    font-size: 16px;
    text-align: right;
    color: #f0b734;
  }
}
