.wrapper {
  height: 45px;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #69aa72;
  display: flex;
  align-items: center;
  padding: 0 16px;
  position: relative;

  &::after {
    content: url(/images/down-arrow-outline-green.svg);
    position: absolute;
    right: 16px;
  }

  &.open {
    border-radius: 10px 10px 0 0;

    &::after {
      transform: rotate(180deg);
    }
  }

  h4 {
    width: 80px;
    font-weight: 400;
    font-size: 16px;
    color: #78828C;
    margin-right: 10px;
    padding-right: 8px;
    border-right: 1px solid #EBEBEB;
    display: flex;
    align-items: center;
  }
}

.dropdown {
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  font-size: 16px;
  color: #343a40;
}

.menu {
  position: absolute;
  width: calc(100% + 2px);
  background: white;
  z-index: 800;
  display: none;
  border: 1px solid #69aa72;
  border-top: none;
  border-radius: 0 0 10px 10px;
  left: -1px;
  top: 44px;

  &.open {
    display: block;
  }

  .menuItem {
    display: block;
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-size: 16px;
    color: #343a40;
    background: transparent;
    padding: 8px 16px;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
}