.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 35px 55px;
  background: #f3f3f3;
  box-shadow: 0px 4px 8px rgba(217, 220, 231, 0.58);
  margin-bottom: 20px;
}
.logo {
  display: flex;
  img {
    display: block;
    margin-right: 24px;
    cursor: pointer;
  }
  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 44px;
    color: #193550;
    padding-left: 18px;
    border-left: 1px solid #e0e0e0;
  }
}
.right {
  display: flex;
  align-items: center;
}
.logout {
  font-weight: 600;
  font-size: 19px;
  line-height: 141.02%;
  color: #686868;
  border: none;
  background: none;
  padding: 0;
}
