.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 24px;
  background: #f3f3f3;
  box-shadow: 0px 4px 8px rgba(217, 220, 231, 0.58);

  @media (min-width: 992px) {
    padding: 35px 55px;
  }
}

.logo {
  display: flex;
  align-items: center;

  img {
    display: block;
    margin-right: 24px;
  }

  h2 {
    font-weight: 600;
    font-size: 22px;
    color: #193550;
    padding-left: 18px;
    border-left: 1px solid #e0e0e0;
    display: none;

    @media (min-width: 992px) {
      display: block;
    }
  }
}

.right {
  display: flex;
  align-items: center;
}

.user {
  width: 32px;
  height: 32px;
  font-weight: 500;
  font-size: 16px;
  color: #686868;
  background: none;
  border: 1px solid #69AA72;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 16px;
    height: 16px;

    @media (min-width: 992px) {
      width: auto;
      height: auto;
    }
  }

  @media (min-width: 992px) {
    width: 46px;
    height: 46px;
  }
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  box-shadow: -3px 0px 10px rgba(195, 198, 209, 0.58);
  z-index: 7000;
  background: #f3f3f3;
  padding: 20px 20px 0;
  display: flex;
  flex-direction: column;

  @media (min-width: 992px) {
    width: 375px;
  }
}

.loading {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.close {
  button {
    border: none;
    background: none;
    padding: 0;
    margin-bottom: 34px;
  }
}

.top {
  flex-grow: 1;
}

.nameLogout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;

  h2 {
    font-weight: 500;
    font-size: 18px;
    color: #333333;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #69AA72;
  }
}

.userInfo {}

.info {
  padding: 16px 0;
  border-bottom: 1px solid #E0E0E0;

  &:last-of-type {
    border: none;
  }

  h3 {
    font-size: 12px;
    color: #78828C;
    margin-bottom: 4px;
  }

  h4 {
    font-size: 14px;
    color: #343A40;
  }

  .crops {
    display: flex;

    h4:not(:last-of-type)::after {
      content: ",";
      margin-right: 1ch;
    }
  }
}

.bottom {
  display: flex;
  flex-direction: column;

  .action {
    border-top: 1px solid #E0E0E0;
    padding: 24px 0;
  }

  a {
    background: none;
    border: none;
    text-align: left;
    font-size: 14px;
    color: #193550;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

    &::after {
      content: url(/images/right-arrow-with-tail.svg);
    }
  }
}