.chart {
  padding: 35px 55px;
}

.dataControls {
  display: flex;
  justify-content: space-between;
}

.dropdownWrapper {
  width: 337px;
}

.timeSpan {
  display: flex;
}

.calendarSelector {
  margin-right: 27px;
  position: relative;

  >button {
    height: 45px;
    width: 240px;
    background: white;
    box-shadow: 0px 4px 8px rgba(217, 220, 231, 0.58);
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 15px;
    font-weight: 500;
    font-size: 18px;
    color: #686868;

    span {
      display: flex;
      align-items: center;
      padding: 0 15px;
      height: 100%;
      border-left: 1px solid #E0E0E0;
    }
  }
}

.calendarWrapper {
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 52px;
  box-shadow: 0px 4px 8px rgba(217, 220, 231, 0.58);
  border-radius: 10px;
  z-index: 2000;
}

.periodSelector {
  display: flex;
  overflow: hidden;
  border-radius: 10px;

  button {
    width: 107px;
    height: 45px;
    border: none;
    background: #ffffff;
    font-weight: 600;
    font-size: 16px;
    color: #69AA72;

    &:not(:first-of-type) {
      border-left: 1px solid #E0E0E0;
    }

    &.active {
      background: #69AA72;
      color: #ffffff;
      border: none;
    }
  }
}

.chartContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  padding: 35px 55px;
}

.cardWrapper {
  h4 {
    font-weight: 500;
    font-size: 14px;
    color: #78828C;
    margin-bottom: 12px;
  }
}

.chartCard {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(217, 220, 231, 0.58);
  border-radius: 10px;
  height: auto;
  padding-top: 80px;
}