.gallery {
  padding: 20px;
  height: calc(100vh - 85px);
  overflow-y: hidden;
  padding-bottom: 30px;

  @media (min-width: 992px) {
    padding: 20px 55px;
    height: calc(100vh - 75px);
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 992px) {
      flex-direction: row;
      align-items: center;
    }
  }

  .views {
    display: flex;
    justify-content: center;
    margin-bottom: 26px;

    button {
      font-weight: 600;
      font-size: 16px;
      color: #69aa72;
      height: 37px;
      border: none;
      background: #fff;
      padding: 0 18px;
      flex-grow: 1;

      @media (min-width: 992px) {
        flex-grow: 0;
      }

      &.active {
        color: #fff;
        background: #69aa72;
      }

      &:nth-of-type(1) {
        border-radius: 4px 0 0 4px;
      }

      &:nth-child(2) {
        border-radius: 0 4px 4px 0;
      }
    }
  }

  .meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 22px;

    @media (min-width: 992px) {
      flex-direction: row;
    }

    img {
      margin-right: 16px;
    }

    h4 {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #78828C;
      padding-right: 13px;
      margin-right: 13px;
      border-right: 1px solid #E0E0E0;
    }
  }

  .dateTime,
  .cropField {
    margin-bottom: 12px;
    display: flex;

  }

  .cropField {
    h4:last-of-type {
      border: none;
    }
  }

  .images {
    display: grid;
    gap: 18px;
    grid-template-columns: 1fr;
    height: calc(100% - 95px);
    padding: 0 6px 30px 0;
    overflow-y: auto;

    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1441px) {
      grid-template-columns: repeat(4, 1fr);
    }

    a {
      display: inline-block;
      border: none;
      height: 220px;
      border-radius: 14px;
      box-shadow: 10px 10px 8px rgba(0, 0, 0, 0);
      transition: 0.2s;

      &:hover {
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
        transform: translate(-1px, -1px);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 14px;
      background: #fff;
    }
  }
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);

  background: #000000;

  @media (min-width: 992px) {
    background: rgba(255, 255, 255, 0.85);
    flex-direction: row;
    justify-content: space-between;
  }

  .image {
    img {
      width: 100%;
      max-width: 800px;
    }
  }
}

.navLeft,
.navRight {
  border: none;
  width: 60px;
  height: 60px;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(217, 220, 231, 1);
  transition: 0.2s;

  @media (min-width: 992px) {
    display: flex;
  }

  &:hover {
    background: rgba(255, 255, 255, 1);
  }

  svg {
    transform: scale(2);
  }
}

.mobileNavs {
  display: flex;

  @media (min-width: 992px) {
    display: none;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    box-shadow: none;

    &:hover {
      background: none;
    }
  }
}

.closeButton {
  background: none;
  border: none;
  padding: 0;
  position: fixed;
  right: 30px;
  top: 30px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    transform: scale(1.5);
  }
}