.contact {
  background: #E5E5E5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  * {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  ::placeholder {
    color: #78828C;
  }

  :-moz-placeholder {
    color: #78828C;
  }

  ::-moz-placeholder {
    color: #78828C;
  }

  :-ms-input-placeholder {
    color: #78828C;
  }

  ::-webkit-input-placeholder {
    color: #78828C;
  }
}

.contents {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 65px;
}

.contentWrapper {
  width: 100%;
  padding: 0 20px;

  @media (min-width: 992px) {
    width: 600px;
    padding: 0;
  }

  h1 {
    font-weight: 600;
    font-size: 22px;
    color: #193550;
    margin-bottom: 12px;
  }

  form {
    padding: 22px 28px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(200, 200, 200, 0.58);
    border-radius: 10px;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 19px;
  margin-bottom: 33px;

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #343A40;
    margin-bottom: 6px;
  }

  input {
    font-weight: 400;
    font-size: 12px;
    color: #343A40;
    height: 49px;
    border: 1.4px solid #6AAB72;
    border-radius: 8px;
    padding: 17px;
  }

  textarea {
    font-weight: 400;
    font-size: 12px;
    color: #343A40;
    height: 99px;
    width: 100%;
    border: 1.4px solid #6AAB72;
    border-radius: 8px;
    padding: 17px;
    resize: none;
  }
}

.contact {
  button {
    width: 168px;
    height: 49px;
    background: linear-gradient(172.08deg, #69AA72 -18.15%, #69AA72 120.92%);
    box-shadow: 4px 4px 6px #C7D5C9;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: #F2F2F2;
  }

  :disabled {
    background: rgba(105, 170, 114, 0.3);

    svg {
      width: 104px;
      margin-top: 12px;
    }
  }
}

.bottom {
  width: 100%;
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 17px;
}

.message {
  flex-grow: 1;
  padding: 0 18px;
  display: flex;
  height: 49px;
  align-items: center;
  border-radius: 8px;
  opacity: 0;
}

.error {
  background: #FFF5F4;
  color: #D43637;
  opacity: 1;
}

.success {
  background: rgba(106, 171, 114, 0.15);
  color: #6AAB72;
  opacity: 1;

  &::before {
    content: url(/images/tick.svg);
    margin-right: 17px;
  }
}

.fraud {
  position: fixed;
  // opacity: 0;
  // z-index: -1;
}