.jobPage {
  background: #e5e5e5;
  min-height: 100vh;
  * {
    font-family: "Noto Serif", serif;
    font-weight: 400;
  }
}
.jobDetails {
  padding: 20px;
  max-width: 788px;
  margin: 0 auto;
  @media (min-width: 992px) {
    // padding: 40px 47px 0;
  }
  .heading {
    margin-bottom: 32px;
  }
  h1 {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 16px;
    // margin-bottom: 32px;
    // border-bottom: 1px solid #b8b8b8;
  }
}

.topLine {
  display: flex;
  justify-content: end;
  margin-bottom: 18px;
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 12px;
    margin: 0 8px;
  }
}

.bottomLine {
  margin-bottom: 32px;
  display: inline-flex;
  border: 1px solid #b8b8b8;
  border-width: 1px 0 1px;
  padding: 6px;
  padding-right: 48px;
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 12px;
    margin: 0 8px;
  }
}

.html {
  h3 {
    font-size: 32px;
  }
}

.html {
  * {
    font-family: "Poppins", sans-serif;
    line-height: 1.34;
  }
  p {
    font-size: 16px;
    margin-bottom: 22px;
  }
  h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  ul,
  ol {
    padding-left: 42px;
    list-style: disc;
    margin-bottom: 18px;
  }
  li {
    margin-bottom: 12px;
  }
}
